server:
  port: 8080
  servlet:
    context-path: /api
spring:
  application:
    name: picture-backend
  datasource:
    url: jdbc:mysql://localhost:3306/bxt_picture
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345678
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    global-config:
      db-config:
        logic_delete-field: isDeleted
        logic_delete-value: 1
        logic_not_delete-value: 0
# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.bxt.picture.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

